{% extends 'manager/manager-base.html' %}

{% block content %}
<div class="login-content card bg-light shadow p-2">
    <div class="container">
        <h3>Add Stock - {{brand.name}}</h3>
        <hr>
        <form action="" method="POST">
            <div class="form-group">
                <input type="hidden" name="brand-id" value="{{ brand.id }}">
                <label>Quantity Available ({{ brand.purchase_guide.purchase_unit }})</label>
                <label class="form-control bg-light">{{ brand.quantity_available | round(2) }}</label>
            </div>

            <div class="form-group">
                <label>Purchasing</label>
                <label class="form-control bg-light">{{ brand.purchase_guide.purchase_price }} @ {{ brand.purchase_guide.purchase_unit }}</label>
            </div>

            <div class="form-group">
                <input type="hidden" name="brand" value="{{ brand.id }}">
                <label>Quantity Purchased ({{ brand.purchase_guide.purchase_unit }})</label>
                <input class="form-control" type="number" name="quantity" required>
            </div>

            <hr>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}