{% extends 'manager/manager-base.html' %}

{% block content %}
<h2>Cashier Sessions</h2>
<hr>
<form class="bg-light card p-2" method="GET" action="{{ url_for('session.filter_sessions') }}">
	<div class="row">
			<div class="col-md-2">
				<small>Cashier</small>
				<select class="form-control form-control-sm" name="cashier">
					<option value="" >All</option>
					{% for cashier in cashiers %}
						{% if cashier.id == cashier_id %}
							<option value="{{cashier.id}}" selected>{{ cashier.first_name }} {{ cashier.last_name }}</option>
						{% else %}
							<option value="{{cashier.id}}">{{ cashier.first_name }} {{ cashier.last_name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<div class="col-md-2">
				<small>From</small>
				<input type="date" name="from" {% if today %} value="{{today.strftime('%Y-%m-%d')}}" {% endif %} class="form-control form-control-sm" />
			</div>

			<div class="col-md-2">
				<small>To</small>
				<input type="date" name="to" {% if tomorrow %} value="{{tomorrow.strftime('%Y-%m-%d')}}" {% endif %} class="form-control form-control-sm" />
			</div>

			<div class="col-md-2 pb-0">
				<br>
				<button class="btn btn-block btn-sm btn-info">Filter</button>
			</div>
	</div>
</form>

<div class="row py-1">
	<div class="col-md-3">
		<label>Fetched : </label> <strong>{{ sessions | length }} (sessions)</strong>
	</div>

	{% if session_page %}
	<div class="col-md-3">
		<form class="form-inline" id="page-form" method="GET" action="{{ url_for('session.get_session_page') }}">
			<label>Page  </label>
			 <select class="form-control-sm form-control" onchange="$('#page-form').submit()" name="page">
				<option value="0">All</option>
				{% for page in range(1, session_page.pages+1) %}
					<option value="{{ page }}" {% if page == current_page %}selected{% endif %}>Page {{ page }}</option>
				{% endfor %}
			</select>
		</form>
	</div>
	{% endif %}

	<div class="col-md-3">
		<button class="btn btn-dark" onclick="printDiv('sessions', false)"><span class="fa fa-print"></span> Print</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="sessions">
		<div id="header-sessions"></div>
		<table class="table table-responsive-sm table-hover border">
			<thead>
			    <tr>
			    	<th scope="col">Date</th>
			    	<th scope="col">Cashier</th>
			    	<th scope="col">Start Time</th>
			    	<th scope="col">Stop Time</th>
			    	<th scope="col">Cash</th>
			    	<th scope="col">Total Sales</th>
			    </tr>
			  </thead>

			  <tbody>
			  	{% for session in sessions %}
			  		<tr scope="row" style="cursor: pointer;">
			  			<td>{{ session.start_time.strftime('%d/%m/%Y') }}</td>
			  			<td>{{ session.cashier.first_name }} {{ session.cashier.last_name }}</td>
			  			<td>{{ session.start_time.strftime('%H:%M:%S') }}</td>
			  			<td>
				  			{% if session.stop_time %}{{ session.stop_time.strftime('%H:%M:%S') }}{% else %}
				  				<label class="text-success">Ongoing</label>
				  				<button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#confirmTerminateSessionModal{{session.id}}"> Terminate</button>
				  				<div class="modal fade" id="confirmTerminateSessionModal{{session.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Confirm Termination</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <form method="POST" action="{{ url_for('session.terminate', id=session.id) }}">
										      <div class="modal-body">
										      	<input type="hidden" name="session-id" value="{{session.id}}">
										      	<div class="form-group">
										      		<small>Cashier :</small>
										      		<label>{{ session.cashier.first_name }} {{ session.cashier.last_name }}</label>
										      	</div>
										      	<div class="form-group">
										      		<small>Enter Cash</small>
										      		<input type="number" class="form-control" name="cash" required>
										      	</div>
										      </div>
										      <div class="modal-footer">
										      	
										        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					  								<button type="submit" class="btn btn-danger">Terminate</button>
										      </div>
									      </form>
									    </div>
									</div>
					  			</div>
				  			{% endif %}</td>
			  			<td>{% if session.cash %}{{ session.cash }}{% else %}---{% endif %}</td>
			  			<td>{{ session.get_total_sales() }}</td>
			  		</tr>
			  	{% endfor %}
			  </tbody>
		</table>
	</div>
</div>

{% endblock %}