{% extends 'manager/manager-base.html' %}

{% block content %}
<h2>Chefs</h2>
<hr>
{% if chef_to_edit %}
<div class="container">	
	<div class="row">
		<h3 class="pl-3">Edit Chef - {{ chef_to_edit.last_name }}</h3>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-5 bg-light card">
			<form method="POST" action="{{url_for('chef.edit_chef')}}">
				<div class="form-group">
					<input type="hidden" name="chef" value="{{ chef_to_edit.id }}"/>
					<label class="form-check-label">First Name</label>
					<input class="form-control" type="text" name="first-name" value="{{chef_to_edit.first_name}}" required>
				</div>

				<div class="form-group">
					<label class="form-check-label">Last Name</label>
					<input class="form-control" type="text" name="last-name" value="{{chef_to_edit.last_name}}" required>
				</div>

				<div class="form-group">
					<div class="custom-control custom-switch" align="center">
						<input type="checkbox" name="admin" class="custom-control-input" id="admin-switch" {% if chef_to_edit.admin %}checked{% endif %}>
						<label class="custom-control-label" for="admin-switch">Administrator</label>
					</div>
				</div>

				<hr>

				<div class="form-group">
					<label class="form-check-label">Username</label>
					<input class="form-control" type="text" name="username" placeholder="Username" value="{{chef_to_edit.user.username}}" required>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Update</button>
				</div>
			</form>
		</div>

		<div class="col-md-6">
			
			<form method="POST" action="{{url_for('chef.reset_password')}}">
				<h3 class="form-check-label">Reset Password</h3>
				<div class="form-group">
					<input type="hidden" name="chef" value="{{ chef_to_edit.id }}"/>
					<label class="form-check-label">Password</label>
					<input class="form-control" type="password" name="password" placeholder="Password" required>
				</div>

				<div class="form-group">
					<label class="form-check-label">Confirm Password</label>
					<input class="form-control" type="password" name="password-1" placeholder="Confirm Password" required>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% else %}
	<div class="row pt-1">		
		<div class="col-md-5">
			<form method="POST" class="card bg-light shadow p-2"  action="{{url_for('chef.add_chef')}}">
				<h3 class="text-center m-0">Add Chef</h3>
				<hr>
				<div class="form-group">
					<small class="form-check-label">First Name</small>
					<input class="form-control" type="text" name="first-name" required>
				</div>

				<div class="form-group">
					<small class="form-check-label">Last Name</small>
					<input class="form-control" type="text" name="last-name" required>
				</div>

				<div class="form-group">
					<div class="custom-control custom-switch" align="center">
						<input type="checkbox" name="admin" class="custom-control-input" id="admin-switch">
						<label class="custom-control-label" for="admin-switch">Administrator</label>
					</div>
				</div>
				<div class="form-group">
					<small class="form-check-label">Username</small>
					<input class="form-control" type="text" name="username" placeholder="Username" required>
				</div>

				<div class="form-group">
					<small class="form-check-label">Password</small>
					<input class="form-control" type="password" name="password" required>
				</div>

				<div class="form-group">
					<small class="form-check-label">Confirm Password</small>
					<input class="form-control" type="password" name="password-1" required>
				</div>

				<hr>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Register</button>
				</div>
			</form>
		</div>

		<div class="col-md-7">
			<table class="table table-responsive-sm table-hover border">
				<thead>
				    <tr>
				    	<th scope="col">Chef ID</th>
				    	<th scope="col">Name</th>
				    	<th scope="col">Username</th>
				    	<th scope="col">Admin</th>
				    	<th scope="col"></th>
				    	<th scope="col"></th>
				    </tr>
				</thead>

				<tbody>
					{% for chef in chefs %}
						<tr scope="row" style="cursor: pointer;">
							<td>{{chef.id}}</td>
							<td>{{chef.first_name}} {{chef.last_name}}</td>
							<td>{{chef.user.username}}</td>
							<td>{% if chef.admin %}Yes{% else %}No{% endif %}</td>
							<td>
								<form action="{{ url_for('chef.edit_chef') }}">
									<input type="hidden" name="chef" value="{{ chef.id }}"/>
									<button type="submit" class="btn btn-info"><span class="fa fa-pencil"></span> Edit</button>
								</form>
							</td>

							<td>
								<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteChef{{chef.id}}"><span class="fa fa-trash"></span> Delete</button>

								<div class="modal fade" id="confirmDeleteChef{{chef.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
									    <div class="modal-content">
									      <div class="modal-header">
									        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									      <div class="modal-body">
									        Are you sure you want to delete this chef?
									      </div>
									      <div class="modal-footer">
									      	<form method="POST" action="{{ url_for('chef.delete_chef') }}">
												<input type="hidden" name="chef" value="{{chef.id}}">
									        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				  								<button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span>  Delete</button>
							  				</form>
									      </div>
									    </div>
									</div>
					  			</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}
{% endblock	 %}