{% extends 'global/base.html' %}

{% block body %}

{% if current_user.manager %}
<div class="container-fluid">
	<div class="row text-white fixed p-2" style="font-size: 22px; background-color: rgba(56, 33, 13, 0.966);">
		<div class="col-md-8 col-sm-12 pl-0 py-2 my-auto">
			<h1 class="d-inline"><img class="img-thumbnail rounded-circle shadow" height="65px" width="65px" src="{{ url_for('static', filename='img/logo.png') }}"> AMOBIT<small>tech</small> <button class="btn btn-light float-md-none float-right" data-toggle="collapse" href="#mobile-menu" role="button" aria-expanded="false" aria-controls="mobile-menu"><span class="fa fa-navicon"></span></button></h1>
		</div>

		<div class="col-md-4 col-sm-12 my-auto text-white" align="right">
			<a href="{{url_for('manager.edit_manager')}}" class="btn btn-outline-light"><small><span class="fa fa-user"></span> {{current_user.manager.first_name}} {{current_user.manager.last_name}} (Manager)</small></a>
			<a href="{{ url_for('user.logout') }}"><button class="btn btn-outline-light border-0"><span class="fa fa-sign-out"></span> Logout</button></a>
		</div>
	</div>

	<div class="row fixed" style="top:90px;">
		<div id="mobile-menu" class="col-md-12 pb-2 collapse bg-light fixed" style="top:100px; box-shadow: 5px 5px 5px #ccc;">
			<div class="row list-group m-0">
				<div class="row">
					<div class="col-md-3 ">
						<div>
							<h3 class="my-2">Transactions</h3>
						</div>
						<a href="{{ url_for('sale.get_sales') }}" class="list-group-item list-group-item-action {% if mod=='sale' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Sales
						</a>

						<a href="{{ url_for('order.get_orders') }}" class="list-group-item list-group-item-action {% if mod=='order' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Orders
						</a>

						<a href="{{ url_for('purchase.get_purchases') }}" class="list-group-item list-group-item-action {% if mod=='purchase' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Purchases
						</a>

						<a href="{{ url_for('session.get_sessions') }}" class="list-group-item list-group-item-action {% if mod=='session' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Cashier Sessions
						</a>
					</div>

					<div class="col-md-3">
						<div>
							<h3 class="my-2">Employees & Users</h3>
						</div>
						<a href="{{ url_for('cashier.get_cashiers') }}" class="list-group-item list-group-item-action {% if mod=='cashier' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Cashiers
						</a>

						<a href="{{ url_for('chef.get_chefs') }}" class="list-group-item list-group-item-action {% if mod=='chef' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Chefs
						</a>

						<a href="{{ url_for('waiter.get_waiters') }}" class="list-group-item list-group-item-action {% if mod=='waiter' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Waiters
						</a>
					</div>

					<div class="col-md-3">
						<div>
							<h3 class="my-2">Kitchen & Menu</h3>
						</div>

						<a href="{{ url_for('kitchen_stock.get_kitchen_stock') }}" class="list-group-item list-group-item-action {% if mod=='kitchen_stock' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Kitchen Stock
						</a>

						<a href="{{ url_for('kitchen_stock_usage.get_kitchen_stock_usages') }}" class="list-group-item list-group-item-action {% if mod=='kitchen_stock_usage' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Kitchen Stock Usage
						</a>

						<a href="{{ url_for('food_category.get_categories') }}" class="list-group-item list-group-item-action {% if mod=='food_category' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Menu Categories
						</a>

						<a href="{{ url_for('food.get_foods') }}" class="list-group-item list-group-item-action {% if mod=='food' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Menu Items
						</a>
					</div>

					<div class="col-md-3">
						<div>
							<h3 class="my-2">Drink Stock</h3>
						</div>
						<a href="{{ url_for('category.get_categories') }}" class="list-group-item list-group-item-action {% if mod=='category' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Drink Categories
						</a>

						<a href="{{ url_for('brand.get_brands') }}" class="list-group-item list-group-item-action {% if mod=='brand' %} {{'menu-active'}} {% endif %}" style="border-radius: 0px;">
							Drink Brands
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid p-0">
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert rounded-0 py-0 px-2 m-0 d-block alert-{{category}} text-center alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		</div>

		<div class="container-fluid">
			{% block content %}

			{% endblock %}
		</div>
	</div>

</div>
{% endif %}

{% endblock %}