{% extends 'chef/chef-base.html' %}

{% block content %}
<h2>Stock Usage</h2>
<hr>
<form class="bg-light card p-2" method="GET" action="{{ url_for('kitchen_stock_usage.filter') }}">
	<div class="row py-1">
		<div class="col-md-2">
			<small>Item</small>
			<select class="form-control form-control-sm" name="item">
				<option value="">All</option>
				{% for item in kitchen_items %}
					<option value="{{item.id}}" {% if 'kitchen-'+item.id|string==item_id %} selected {% endif %} >{{ item.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-2">
			<small>Chef</small>
			<select class="form-control form-control-sm" name="chef">
				<option value="">All</option>
				{% for chef in chefs %}
					<option value="{{chef.id}}" {% if chef.id|string==chef_id %} selected {% endif %} >{{ chef.first_name + ' ' + chef.last_name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="col-md-2">
			<small>From</small>
			<input type="date" name="from" {% if today %} value="{{today.strftime('%Y-%m-%d')}}" {% endif %} class="form-control form-control-sm" />
		</div>

		<div class="col-md-2">
			<small>To</small>
			<input type="date" name="to" {% if tomorrow %} value="{{tomorrow.strftime('%Y-%m-%d')}}" {% endif %} class="form-control form-control-sm" />
		</div>

		<div class="col-md-2" style="top: 30;">
			<br>
			<button type="submit" class="btn btn-block btn-sm btn-info">Filter</button>
		</div>
	</div>
</form>

<div class="row py-1">
	<div class="col-md-3">
		<label>Fetched : </label> <strong>{{ usages | length}} (usages)</strong>
	</div>

	<div class="col-md-3">
		<button class="btn btn-dark" onclick="printDiv('usages', false)"><span class="fa fa-print"></span> Print</button>
	</div>
</div>


<div class="row">
	<div class="col-md-12" id="purchases">
		<div id="header-usages"></div>
		<table class="table table-responsive-sm table-hover border">
			<thead>
			    <tr>
			    	<th scope="col">Date</th>
			    	<th scope="col">Item</th>
			    	<th scope="col">Quantity Used</th>
			    	<th scope="col">Chef</th>
			    </tr>
			  </thead>

			  <tbody>
			  	{% for usage in usages %}
			  		<tr scope="row" style="cursor: pointer;">
			  			<td>{{ usage.date.strftime('%d/%m/%Y') }}</td>
			  			<td>{{ usage.stock_name }}</td>
			  			<td>{{ usage.quantity }} ({{ usage.unit }})</td>
			  			<td>{{ usage.chef_name }}</td>
			  		</tr>
			  	{% endfor %}
			  </tbody>
		</table>
	</div>
</div>
{% endblock %}