{% extends 'global/base.html' %}

{% block body %}


<div class="container">
	<div class="login-content">
		<div align="center">
			<img src="{{url_for('static', filename='img/logo.png')}}" align="center" />
		</div>
		<div id="message">
			{% for category, message in get_flashed_messages(with_categories=true) %}
				<div class="alert alert-{{category}} alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">OK</button>
					{{ message }}
				</div>
			{% endfor %}
		</div>
		<div class="login-form card bg-light shadow">
			<h1 class="text-center">Reset Password</h1>
			<hr>
			<form method="POST" action="{{ url_for('manager.reset_password') }}">
				<div class="form-group">
					<label class="form-check-label">Your Email</label>
					<input class="form-control" type="text" name="email" required />
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input class="btn btn-success btn-block" type="submit" value="Send Password Reset Email" />
						</div>
					</div>
				</div>
			</form>
			<a href="{{ url_for('user.login') }}" class="btn btn-link">Back to Login</a>
		</div>
	</div>
</div>

{% endblock %}